
.contents.about{
  padding: 0 5%;
  height: 100%;
  /* border: 1px solid black; */
  width: 100%;
  overflow: scroll;
}
.contents.about p {
  text-align: left;
}
#pic2 {
  width: 35%;
}
#about {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* outline: 1px solid orange; */
  width: 100%;
}
#about img {
  width: 15%;
}
