.contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: flex-start; */
  justify-content: left;
  justify-items: left;
  
}
.submitButton {
  width: 25%;
  /* background-color: blue; */
  color: white;
  float: right;
  margin-left: 70%;
  cursor: pointer;
  
}
