.contactForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* align-items: flex-start; */
  justify-content: start;
  justify-items: center;
  
}
.submitButton {
  width: 15%;
  /* background-color: blue; */
  color: white;
  float: right;
  margin-left: 85%;
  cursor: pointer;
  
}
