.contents.contact{
  padding: 0 5%;
  height: 100%;
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.contents.contact p {
  text-align: left;

}
#contact {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* outline: 1px solid orange; */
  width: 100%;
}
#contact img {
  width: 15%;
}