
.contents.events{
  height: 100%;
  /* border: 1px solid black; */
  width: 100%;
  
  

}
#events {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* outline: 1px solid orange; */
  width: 100%;
}
.event {
  margin-top: 5%;
  margin-left: 25%;
  background-image: url('../media/event1.jpg');
  background-repeat: no-repeat;
  height: 35%;
  width: 100%;
  background-size: contain;

}
#events img {
  width: 15%;
}