.gunnarDescription {
  Width: 50%;
  text-align: left;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin-top: 5%;
}
.insideDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}