.contents.help{
 
  height: 100%;
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  overflow: scroll;
}
#help {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  /* outline: 1px solid orange; */
  width: 100%;
}

#help img {
  width: 15%;
}
#help a {
  font-size: 48px;
  /* padding-right: 5%; */

}
.socialIcons {
  
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* justify-items: flex-end; */
  margin-top: 5%;
  margin-bottom: 5%;
}
.socialIcons a {
  color: blue;
}