.contents{
 
  height: 100%;
  /* border: 1px solid black; */
  width: 100%;
}
#help {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* outline: 1px solid orange; */
  width: 100%;
}

#help img {
  width: 15%;
}